{% extends 'projects/base.html' %}
{% block content %}

<!-- Main Section -->
<main class="singleProject my-md">
    <div class="container">
        <div class="layout">
            <div class="column column--1of3">
                <!-- Описание тегов и ссылок -->
                <h3 class="singleProject__subtitle">Tools & Stacks</h3>
                <div class="singleProject__toolStack">
                    {% for tag in project.tags.all %}
                    <span class="tag tag--pill tag--sub tag--lg">
                          <small>{{ tag }}</small>
                        </span>
                    {% endfor %}
                </div>
                {% if project.source_link %} <!-- Проверка на наличие ссылки -->
                <a class="singleProject__liveLink" href="{{ project.source_link }}" target="_blank"><i class="im im-external-link"></i>Source Code
                </a>
                {% endif %}
                {% if project.demo_link %} <!-- Проверка на наличие ссылки -->
                <a class="singleProject__liveLink" href="{{ project.demo_link }}" target="_blank"><i class="im im-external-link"></i>Live Demo
                </a>
                {% endif %}
            </div>
            <!-- Описание проекта -->
            <div class="column column--2of3">
                <img class="singleProject__preview" src="{{ project.featured_image.url }}" alt="portfolio thumbnail"/>
                <a href="{% url 'user_profile' project.owner.id %}" class="singleProject__developer">{{ project.owner.name }}</a>
                <h2 class="singleProject__title">{{ project.title }}</h2>
                <h3 class="singleProject__subtitle">About the Project</h3>
                <div class="singleProject__info">
                    {{ project.description }}
                </div>

                <div class="comments">
                    <h3 class="singleProject__subtitle">Feedback</h3>
                    <h5 class="project--rating">
                        {{ project.vote_total }}% Postitive
                        Feedback ({{ project.vote_ratio }} Vote{{ project.vote_ratio|pluralize:'s' }})
                    </h5>

                    <!-- Что бы комментарии могли ввести как зарегистрированный пользователь или незарегистрированный -->
                    {% if request.user.profile.id in project.reviewers %} <!-- Если id пользователя находится внутри нашего project.reviewer. Если уже отправляли свой отзыв будет данное сообщение. -->
                    <!-- Вы уже отправили свой отзыв на этот проект -->
                    <p>You have already submitted your review for this project</p>
                    {% elif request.user.profile == project.owner %} <!-- Если профиль равен проекту пользователя -->
                    <!-- Вы не можете прокомментировать свою работу -->
                    <p>Your review your work</p> <!-- Ваш отзыв о вашей работе -->
                    <!-- Если пользователь уже авторизирован, то тогда будет отображаться текущая форма. -->
                    {% elif request.user.is_authenticated %}
                    <!-- Форма отправки комментариев -->
                    <form class="form" action="{% url 'project' project.id %}" method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                        <!-- Textarea -->
                        <div class="form__field">
                            <label for="formInput#textarea">{{ field.label }}</label>
                            {{ field }}
                        </div>
                        {% endfor %}
                        <input class="btn btn--sub btn--lg" type="submit" value="Comments"/>
                    </form>
                    {% else %} <!-- Если не аутентифицирован пользователь, пожалуйста войдите что бы оставить отзыв. -->
                    <a href="{% url 'login' %}">Please login to leave a review</a> <!-- по ссылке перенаправим на  -->
                    {% endif %}
                    <!-- Список комментариев -->
                    <div class="commentList">
                        {% for review in project.review_set.all %}
                        {% if review.body %} <!-- Что бы пустой комментарий не добавлялся-->
                        <div class="comment">
                            <a href="{% url 'user_profile' review.owner.id %}">
                                <img class="avatar avatar--md"
                                     src="{{ review.owner.profile_image.url }}" alt="user"/>
                            </a>
                            <div class="comment__details">
                                <a href="profile.html" class="comment__author">{{ review.owner.name }}</a>
                                <p class="comment__info">
                                    {{ review.body|linebreaksbr }} <!-- Для того что бы было несколько абзацев используется фильтр-->
                                </p>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}